/* .projectsone {
    flex: 0.5;
    justify-Content: "flex-start";
    
} */

.projects-container {
    background: rgb(142, 142, 142);
    background: linear-gradient(180deg, rgba(142, 142, 142, 1) 0%, rgba(37, 69, 88, 1) 67%, rgba(43, 43, 58, 1) 100%);
    margin: -10px;
    padding: -10;
}

.projects-title {
    color: #eafc40;
}