.main {
    padding: 'verticle 5',
}

.my-4 {
    padding: 0
}


/* .circle, */

.prof-pic {
    width: 100%;
    height: 100%;
}

span {
    padding-top: 6rem;
}

.about-container {
    padding-top: 4rem;
    padding-bottom: 6rem;
    margin-bottom: 0;
    /* background-color: #254558; */
    background-image: url('../images/bigcoffee.jpg');
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: cover;
}

.name-container {
    font-weight: 300;
    color: #1ed2f4;
    /* background-color: #2b2b3a */
}

.jumbotron .container {
    max-width: 40rem;
    background: rgba(255, 255, 255, 0.2);
    padding: 2rem;
    color: white;
}

.row h5 {
    color: #fff;
}

.jumbotron p {
    color: white;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.about-text {
    color: #225544;
}